In [3]:
import pandas as pd
import random
import datetime

# Create a sample DataFrame
data = {
    'Date': [datetime.date(2023, 1, random.randint(1, 31)) for _ in range(100)],
    'Product': [random.choice(['A', 'B', 'C']) for _ in range(100)],
    'Categ ory': [random.choice(['Electronics', 'Clothing', 'Books']) for _ in range(100)],
    'Sa les': [random.randint(100, 1000) for _ in range(100)],
    'Quantity': [random.randint(1, 10) for _ in range(100)]
}

df = pd.DataFrame(data)

### Exercise 0: Remove spaces from columns name

You can edit the cell below, but the interest is to do it with code

In [7]:
# solution 1 :
# help(df.rename)

In [8]:
# solution 2 : comprehension list with str replace
# df.columns = [...]

### Exercise 1: Grouping and Aggregating

Group the DataFrame df by the 'Category' column and calculate the total sales for each category.

Group the DataFrame df by the 'Product' column and calculate the average quantity sold for each product.

Calculate the maximum sales and minimum sales for each 'Category' using the agg method.

### Exercise 2: Filtering

Filter the DataFrame to select rows where the 'Sales' are greater than 500.

Filter the DataFrame to select rows where the 'Quantity' is less than or equal to 3.

Create a new DataFrame that contains only rows where the 'Category' is 'Electronics' and the 'Sales' are greater than 700.

### Exercise 3: Combining Grouping and Filtering

Group the DataFrame by both 'Category' and 'Product', then calculate the total sales for each combination. Filter the results to only include rows where the total sales are greater than 200.

### Exercise 4: Advanced Filtering

Create a new DataFrame that contains rows where the 'Category' is 'Books' and the 'Date' is in the year 2023.

Filter the DataFrame to select rows where the 'Category' is 'Clothing' and the 'Sales' are between 300 and 600.

Group the DataFrame by 'Product', and for each group, filter the rows to select only the top 3 highest sales values.