### Exercise 1: Reshaping Data

Take the following untidy dataset and convert it into a tidy format:

Untidy Data:

In [ ]:
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-01'],
    'Metric_1': [10, 15, 12],
    'Metric_2': [25, 30, 28]
}

tidy data output should look like :

```
Date       | Metric | Value
----------------------------
2023-01-01 | 1      | 10
2023-01-02 | 1      | 15
2023-01-01 | 2      | 25
2023-01-02 | 2      | 30
2023-01-01 | 3      | 12
2023-01-02 | 3      | 28

```

In [ ]:
#

### Exercise 2: Pivoting Data
Given the following tidy dataset:

In [ ]:
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-01'],
    'Metric': ['Metric_1', 'Metric_1', 'Metric_2'],
    'Value': [10, 15, 25]
}

df = pd.DataFrame(data)

Pivot the DataFrame to have 'Date' as the index, 'Metric' as columns, and 'Value' as the values.

### Exercise 3: Combining Multiple Variables

Suppose you have two separate tidy datasets representing sales and quantity for products:
```

```


Dataset 1 (Sales):

```
 Date       | Product | Sales
 ------------------------------
 2023-01-01 | A       | 100
 2023-01-02 | B       | 150
```


Dataset 2 (Quantity):


```
Date       | Product | Quantity
--------------------------------
2023-01-01 | A       | 5
2023-01-02 | B       | 3

```

Create two dataframes : 
 - Sales
 - Quantity

In [ ]:
sales = pd.DataFrame(...)

In [ ]:
quantity = pd.DataFrame(...)

Merge or join these datasets to create a single dataset that includes both sales and quantity information.

In [ ]:
# help(pd.merge)

In [ ]:
# or
# help(sales.merge)